In [7]:
import pandas as pd

df = pd.read_parquet('data_new/intermediary/2024-03-31/part_1.parquet')

In [8]:
df

,reference_month,merchant_market_hierarchy_id,subs_asterisk,nome_master_com_espaco,nome_master,merchant_tax_id,cpf,cpf_brasil,cnpj,numero_inicio,id_ton,cod_muni,inicio,resultado_names,agrupamento_nome_1
0,2024-03-31,745670325,Outros_Stone,WILLIAN KUHNEN,WILLIANKUHNEN,None,06733230992,None,None,None,None,1100403,WILLIA,[WILLIANKUHNEN],WILLIANKUHNEN11004031100403
1,2024-03-31,730136262,Outros_Stone,MERCADO PRACHEDES,MERCADOPRACHEDES,41898986000146,None,None,41898986000146,None,None,4124509,MERCAD,[MERCADOPRACHEDES],MERCADOPRACHEDES41245094124509
2,2024-03-31,625406766,Outros_Stone,IRMAOS NERES,IRMAOSNERES,17191831000190,None,None,17191831000190,None,None,4202875,IRMAOS,[IRMAOSNERES],IRMAOSNERES42028754202875
3,2024-03-31,563542670,Outros_Stone,GENESIS RESTO & BAR,GENESISRESTOBAR,24595395000180,None,None,24595395000180,None,None,2515005,GENESI,[GENESISRESTOBAR],GENESISRESTOBAR25150052515005
4,2024-03-31,445381190,Outros_Stone,XALE'S BAR,XALESBAR,08645644000149,None,None,08645644000149,None,None,3104106,XALESB,[XALESBAR],XALESBAR31041063104106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1047310,2024-03-31,<NA>,CloudWalk,KIDIFARMA COM DE MEDIC,KIDIFARMACOMDEMEDIC,None,None,None,None,None,None,4211058,KIDIFA,[KIDIFARMACOMDEMEDIC],KIDIFARMACOMDEMEDIC42110584211058
1047311,2024-03-31,<NA>,CloudWalk,KARLA ROUSE MARTINS C,KARLAROUSEMARTINSC,None,04017020658,04017020658,None,None,None,3149150,KARLAR,[KARLAROUSEMARTINSC],KARLAROUSEMARTINSC31491503149150
1047312,2024-03-31,<NA>,CloudWalk,E A RODRIGUES FILHO,EARODRIGUESFILHO,None,None,None,40484110000190,None,None,2207405,EARODR,[EARODRIGUESFILHO],EARODRIGUESFILHO22074052207405
1047313,2024-03-31,<NA>,CloudWalk,LOHANNA HILLARY GUERR,LOHANNAHILLARYGUERR,None,None,None,None,None,None,1503002,LOHANN,"[LOHANNAHILLARYGUERR, LOHANNAHILLARYGUERRE]","LOHANNAHILLARYGUERR, LOHANNAHILLARYGUERRE15030..."
1047314,2024-03-31,<NA>,CloudWalk,LEILA IARA GIBIM GARCI,LEILAIARAGIBIMGARCI,None,None,None,09640734000100,None,None,3534500,LEILAI,"[LEILAIARAGIBIMGARC, LEILAIARAGIBIMGARCI]","LEILAIARAGIBIMGARC, LEILAIARAGIBIMGARCI3534500..."

In [73]:
import os
dire = 'data_new/intermediary/2024-07-31'

l = []
for i, file in enumerate(os.listdir(dire)):
    print(i)
    df = pd.read_parquet(os.path.join(dire,file))
    df = df[df['subs_asterisk']=='Ton']
    l.append(df)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [74]:
df = pd.concat(l)

In [75]:
df

,reference_month,merchant_market_hierarchy_id,subs_asterisk,nome_master_com_espaco,nome_master,merchant_tax_id,cpf,cpf_brasil,cnpj,numero_inicio,id_ton,cod_muni,inicio,resultado_names,agrupamento_nome_1
100,2024-07-31,<NA>,Ton,MARIA BONITA,MARIABONITA,None,None,None,32991450000180,None,32991450000180,3506102,MARIAB,[MARIABONITA],MARIABONITA35061023506102
163,2024-07-31,<NA>,Ton,CAMILA MARTINS PINHEIRO,CAMILAMARTINSPINHEIRO,None,05371908994,None,None,None,05371908994,4208302,CAMILA,[CAMILAMARTINSPINHEIRO],CAMILAMARTINSPINHEIRO42083024208302
164,2024-07-31,<NA>,Ton,HELLEN CRISTINA TEIXEIRA,HELLENCRISTINATEIXEIRA,None,00067977332,None,None,None,00067977332,3530805,HELLEN,[HELLENCRISTINATEIXEIRA],HELLENCRISTINATEIXEIRA35308053530805
165,2024-07-31,<NA>,Ton,MILLEIDE FERREIRA DE CASTRO,MILLEIDEFERREIRADECASTRO,None,61790377366,None,None,None,61790377366,2103000,MILLEI,[MILLEIDEFERREIRADECASTRO],MILLEIDEFERREIRADECASTRO21030002103000
166,2024-07-31,<NA>,Ton,ANGELO APARECIDO MALDONADO LTDA,ANGELOAPARECIDOMALDONADOLTDA,None,None,None,03161496000173,None,03161496000173,3515509,ANGELO,[ANGELOAPARECIDOMALDONADOLTDA],ANGELOAPARECIDOMALDONADOLTDA35155093515509
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1182070,2024-07-31,<NA>,Ton,MAGDA RIBEIRO BARBOSA,MAGDARIBEIROBARBOSA 29136427000101,None,None,None,29136427000101,None,29136427000101,3106200,MAGDAR,[MAGDARIBEIROBARBOSA 29136427000101],MAGDARIBEIROBARBOSA 2913642700010131062003106200
1182071,2024-07-31,<NA>,Ton,CATUCAI DO NANDAO,CATUCAIDONANDAO,None,00501577602,None,None,None,00501577602,3106200,CATUCA,[CATUCAIDONANDAO],CATUCAIDONANDAO31062003106200
1182072,2024-07-31,<NA>,Ton,ROGERIA MARCIA E SOUZA PERINA,ROGERIAMARCIAESOUZAPERINA,None,90140478604,None,None,None,90140478604,3106200,ROGERI,[ROGERIAMARCIAESOUZAPERINA],ROGERIAMARCIAESOUZAPERINA31062003106200
1182073,2024-07-31,<NA>,Ton,IASMIM NAIARA PIRES MARQUES,IASMIMNAIARAPIRESMARQUES,None,12110155647,None,None,None,12110155647,3106200,IASMIM,[IASMIMNAIARAPIRESMARQUES],IASMIMNAIARAPIRESMARQUES31062003106200
1182074,2024-07-31,<NA>,Ton,FELIX FESTAS LOCACOES,FELIXFESTASLOCACOES,None,None,None,35299632000182,None,35299632000182,3106200,FELIXF,[FELIXFESTASLOCACOES],FELIXFESTASLOCACOES31062003106200

In [76]:
1859282 - (df['cpf'].nunique() + df['cnpj'].nunique())

0

In [77]:
df['document'] = df['cpf'].where(df['cpf'].notnull(),df['cnpj'])

In [79]:
1859282 - (df['document'].nunique())

0

In [20]:


import pandas_gbq

In [81]:

query = """
select distinct coalesce(cpf, cnpj) document,
inicio, cod_muni, nome_master
from `dataplatform-prd.master_contact.aux_tam_final_nomes` 
where reference_month= '2024-03-31'
and subs_asterisk='Ton'
"""



df_compare = pandas_gbq.read_gbq(query, project_id='sfwthr2a4shdyuogrt3jjtygj160rs')

Downloading: 100%|██████████|

In [26]:
df_compare['document'].nunique()

1751306

In [27]:
df_compare['missing'] = ~df_compare['document'].isin(df['document'])

In [80]:
df_compare[df_compare['missing']]

KeyError: 'missing'

In [29]:
df_compare[df_compare['missing']]['document'].nunique()

8701

In [30]:
df_compare[df_compare['missing']].sort_values('document')

,document,inicio,cod_muni,nome_master,missing
551053,00000005150,EMERSO,5300108,EMERSONELSONDESOUZAESILVA,True
3009477,00000005150,JKPORT,5300108,JKPORTOESAUTOMATICOS,True
184750,00002826186,LUCIEN,5107958,LUCIENEJACLAFERREIRADASILVA,True
1048465,00003843130,LEIDES,5210307,LEIDESILVACOSMETICOSPERFUMARIA,True
2251219,00003843130,LEIDIA,5210307,LEIDIANESILVADEOLIVEIRA,True
...,...,...,...,...,...
2073186,99967618515,SOBERA,2807402,SOBERANA,True
1082296,99967618515,DAVIAM,2807402,DAVIAMADODESOUZA,True
2925919,99976757468,ALEXAN,2610707,ALEXANDRECUNHADONASCIMENTO,True
2615671,99976757468,XANDEB,2610707,XANDEBOLSAEACESSORIO,True
2894442,99988194234,MARIAD,1502400,MARIADENAZARELIMADACOSTA,True

In [67]:
s = df_compare[df_compare['missing']]['cod_muni'].value_counts()
s[s<3]

3530409    2
2208403    2
2412500    2
2307908    2
2103703    2
          ..
3553708    1
3151206    1
1100924    1
4312385    1
1508126    1
Name: cod_muni, Length: 936, dtype: Int64

In [68]:
df_compare[(df_compare['missing']) & (df_compare['cod_muni']==3530409)]

,document,inicio,cod_muni,nome_master,missing
92685,41218062800,JULIEL,3530409,JULIELISILVACOSMETICOSEPERFUMARIA,True
371844,41218062800,JULIEL,3530409,JULIELIMARIADASILVA,True

In [34]:
def vm_load_grouping_part(input_date, cod_munis):
    import os
    import time
    start_time = time.time()
    anomes = input_date[:7].replace('-', '')
    output_dir = fr'data/temp_dir_{anomes}' 
    df = pd.concat([pd.read_parquet(f"{output_dir}/processed_group_{cod_muni}.parquet") for cod_muni in cod_munis])
    print(f'Loading data in {time.time()  - start_time:.2f} seconds.')
    df['agrupamento_nome_1'] = df['agrupamento_nome_1'] + df['cod_muni'].astype(str)
    return df

In [69]:
dfg = vm_load_grouping_part('2024-03-31', ['3530409'])

Loading data in 0.05 seconds.

In [56]:
dfg[dfg['inicio']=='ANESIO']

Empty DataFrame
Columns: [cod_muni, nome_master, inicio, resultado_names, agrupamento_nome_1]
Index: []

In [70]:
dfg[dfg['nome_master'].str.contains('JULI')]

,cod_muni,nome_master,inicio,resultado_names,agrupamento_nome_1
149,3530409,JULIANOJOSERAMOS,JULIAN,[JULIANOJOSERAMOS],JULIANOJOSERAMOS35304093530409